{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.16.0"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "sourceType": "module",
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-vars": 1,
    "react/jsx-uses-react": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-empty-character-class": 1,
    "no-empty": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-obj-calls": 0,
    "no-template-curly-in-string": 0,
    "no-unexpected-multiline": 1,
    "no-unreachable": 2,
    "no-unsafe-finally": 2,
    "no-unsafe-negation": 2,
    "use-isnan": 1,
    "valid-jsdoc": 1,
    "valid-typeof": 2,
    "no-trailing-spaces": 2,
    "prefer-const": 2,
    "prefer-spread": 2,

    "no-else-return": 2,
    "no-empty-function": 1,
    "no-empty-pattern": 1,
    "no-eq-null": 2,
    "no-loop-func": 2,
    "no-magic-numbers": 0,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-useless-return": 2,
    "no-void": 0,
    "no-console": 1,
    "wrap-iife": 2,

    "strict": 0,

    "no-unused-vars": 2,
    "no-use-before-define": 2,

    "camelcase": 2,
    "capitalized-comments": 0,
    "comma-dangle": [2, "never"],
    "eol-last": [1, "always"],
    "max-depth": ["error", 4],
    "max-len": [0, 150],
    "block-scoped-var": 2,

    "no-unneeded-ternary": 2,
    "linebreak-style": [2, "unix"],

    "spaced-comment": 1,
    "arrow-parens": 0,
    "arrow-spacing": 2,
    "callback-return": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-implicit-coercion": 1,
    "no-invalid-this": 2
  }
}
